/** IMPORT WEBFONTS */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "./fontawesome/css/fontawesome.min.css";
@import "./fontawesome/css/brands.min.css";
@import "./fontawesome/css/light.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection { /* Code for Firefox */
    @apply text-primary-alt bg-primary
}
::selection {
    @apply text-primary-alt bg-primary
}

* {
    @apply focus-visible:ring-primary focus:ring-primary focus-visible:outline-primary focus:outline-primary
}

@layer components {
    .button {
        @apply inline-flex align-middle justify-center text-center
        items-center border bg-white text-sm cursor-pointer px-4
        py-2 transition-transform ease-in-out delay-75 duration-500
        hover:border-black focus:border-black
    }
    .section {
        @apply flex flex-col gap-4 p-4 md:p-8 lg:px-0 lg:gap-0 lg:flex-row lg:py-16
    }
    .section--container {
        @apply container mx-auto
    }
    .headline--1 {
        @apply text-3xl lg:text-5xl font-black
    }
    .text--highlight {
        @apply text-xl lg:text-2xl font-light
    }
    .link {
        @apply text-primary
    }
    .img--cover {
        background: url('#') no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 250px;
    }
}